.add-to-cart-btn {
    border: 0.1rem black solid !important;
    background-color: white !important;
    color: black !important;
    box-shadow: none !important;
}

.position-absolute{
    right: 10px;
    top: 10px;
    color: white;
}

.card-container{
    display: flex;
    justify-content:center;
}
